@model StoreWebUI.Models.BookPageInfo

@{
    ViewBag.Title = "Page";
}
@Html.HiddenFor(x => x.CurrentPage)
@Html.HiddenFor(x => x.CurrentGenre)
@Html.HiddenFor(x => x.TotalBooks)
@Html.HiddenFor(x => x.TotalPages)
<div id="scrolList">
    @Html.Partial("_Books", Model.Books)
</div>
<div id="loading">
    <img src="~/Image/loading_spinner.gif" />
</div>
